import: BaseAlerts.config
# Linux Filter
filter:
- terms:
    event.modules: "aws"
    
# Alerts
alert:
  - hivealerter
  - ms_teams

hive_alert_config:
  type: "external"
  source: "elastalert"
  description: '{rule[name]}'
  severity: 4
  tags: ['{rule[description]}', '{match[agent][ip]}']
  tlp: 4
  status: 'New'
  follow: True
  customFields:
    - name: example
      type: string
      value: example
  follow: True
  severity: 2
  status: 'New'
  title: '{rule[name]}'
hive_observable_data_mapping:
  - domain: agent.hostname
  - domain: response.domain
  - ip: client.ip